@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0px;
    padding: 0px;
}

.texto-gris-1{
    color: #4D4D4D;
}

.texto-gris-2{
    color: #696666;
}

.fondo-gris{
    background-color: #C5C5C5 ;
}

.color-rojo{
    color: #F44336 ;
}
.fondo-rojo{
    background-color: #F44336 ;
}

.color-lila{
    color: #9C27B0;
}
.fondo-lila{
    background-color: #9C27B0;
}
.styleButtonTask-lila{
    border-color: #9C27B0;
}
